<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="icon" href="/static/assets/boxes-solid.ico" type="image/x-icon">
    <script type="text/javascript" src="/node_modules/vue/dist/vue.min.js"></script>
    <title>Share your albums</title>
</head>

<body>
    <div id="index">
        <nav class="navbar navbar-dark bg-dark">
            <i class="fas fa-boxes" style="color: white;font-size: 2em;"></i>
        </nav>
        <div class="container" style="margin-top: 5em;">
            <h1>Welcome.</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" :class="{'active':selectedTab=='login'}" @click="selectedTab='login'">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" :class="{'active':selectedTab=='register'}" @click="selectedTab='register'">Register</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" :class="{'active':selectedTab=='about'}" @click="selectedTab='about'">About</a>
                    </li>
            </ul>
            <br>
            <div v-if="selectedTab=='login'">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" v-model="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" v-if="signInFailed"class="form-text text-muted">Psst. We can't seem to find that username and password</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" v-model="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary" @click="signIn">Log In</button>
            </div>
            <div v-if="selectedTab=='register'">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Create Username</label>
                        <input type="text" v-model="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" v-if="signUpFailed"class="form-text text-muted">Psst. Something seems to have gone wrong. Try a different username?</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Create Password</label>
                        <input type="password" v-model="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary" @click="signUp">Register</button>
                </div>
            <div v-if="selectedTab=='about'">
                <p>
                    Hey There! Thanks for checking out this page. </p><p>This web application allows you to organize all your photos into their own albums and then share those
                    with whomever you like through a handy little link.</p> <p>Create an account to give it a go.
                </p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/node_modules/axios/dist/axios.min.js"></script>
</body>
<script type="module">
    var vm = new Vue({
        el: '#index',
        data: {
            selectedTab:'login',
            email: '',
            password: '',
            signInFailed: false,
            signUpFailed: false

        },
        methods: {
            signUp: function () {
                if (this.email && this.password) {
                    axios.post("/register", { email: this.email, password: this.password })
                        .then(r => {
                            window.location = "/user/" + r.data.userID
                        })
                        .catch(e => {
                            this.signUpFailed = true;
                        })
                }
            },
            signIn: function () {
                axios.post("/login", { email: this.email, password: this.password })
                    .then(r => {
                        console.log(r)
                        window.location = "/user/" + r.data.userID
                    }).catch(e => {
                        this.signInFailed = true;
                    })
            }
        }
    })
    export default { vm }
</script>
<style>
    .signin {
        background-color: black;
        border-radius: 10px;
    }

    #createNewAccount {
        margin: 2vh auto;
        font-size: 1.25rem;
        cursor: pointer;
    }

    #heading {
        margin: 1em auto;
        opacity: 1;
    }

    .login {
        /* position: absolute; */
        margin: 30vh auto;
        padding: 1em;
        width: 50%;
        min-width: 25em;
        background-color: rgba(255, 230, 230, 0.4);
        border-radius: 25px;
        border-style: double;
        border-width: 0.05em;
        filter: sepia(10%);
    }

    .loginAlert {
        /* position: absolute; */
        margin: auto;
        padding: 1em;
        width: 50%;
        min-width: 25em;
    }

    ::-webkit-scrollbar {
        width: 0px;
        /* Remove scrollbar space */
        background: transparent;
        /* Optional: just make scrollbar invisible */
    }
</style>

</html>