<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/stylesheets/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome to the Image Collector</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm">
        <form action ="/login">
            <button name="login">Login</button>
        </form>
        <form action ="/register">
            <button name="register">Register</button>
        </form>
    </nav>
    <h1>Introduction Page</h1>
</body>
</html>